<html>
<head>
    <meta charset="UTF-8">
    <title>Lucien LE FOLL</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1">
                    Lucien LE FOLL
                </h1>
                <h2 class="subtitle is-1">
                    Web Enthusiast
                </h2>
            </div>
        </div>
    </section>
    <section class="section" id="projects">
        <div class="container">
            <h1 class="title has-text-centered">
                A propos
            </h1>
            <p class="has-text-centered">
                Développeur web et UX Designer de 23 ans, je suis toujours à la recherche de nouveaux projets pour élargir mes compétences et mettre à la portée de tout le monde des outils numériques simples et agréables à utiliser. Passionné de code, mais aussi de design, de musique, de photo et de films, je veux proposer des idées innovantes pour un web plus simple et plus clair.
            </p>
            <br>
            <div class="columns">
                <div v-for="icon in icons" class="column">
                    <div class="has-text-centered">
                        <span class="icon is-large">
                            <i :class="getIconClass(icon.icon)"></i>
                        </span>
                        <h2>
                            {{ icon.name }}
                        </h2>
                    </div>
                </div>
            </div>
            <hr>
            <h1 class="title has-text-centered">
                Projets
            </h1>
            <p class="has-text-centered">
                Découvrez les dernières réalisations auxquelles j'ai pu participer
            </p>
            <br>
            <div class="columns">
                <div v-for="(project, index) in projects" class="column">
                    <div class="box">
                        <figure class="image is-fullwidth">
                            <img :src="getPicUrl(project.pics[0])">
                        </figure>
                        <div class="content has-text-centered">
                            <br>
                            <h1 class="title">
                                {{ project.name | capitalize }}
                            </h1>
                            <a class="button is-info" @click="openProjectModal(project)">
                                Découvrir
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h1 class="title has-text-centered">
                Me contacter
            </h1>
            <br>
            <div class="has-text-centered">
                <a class="button is-info is-outlined" href="mailto:lucien.lefoll@gmail.com">
                    Un courriel par ici
                </a>
            </div>
        </div>

        <div class="modal" :class="{'is-active' : modalOpened}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">{{ project.name }}</p>
                </header>
                <section class="modal-card-body content">
                    <p>
                        {{ project.description }}
                    </p>
                    <h3>Compétences :</h3>
                    <ul>
                        <li v-for="tech in project.techs">{{ tech }}</li>
                    </ul>
                    <div class="content has-text-centered">
                        <a :href="project.more" class="button is-info">En savoir plus</a>
                    </div>
                </section>
            </div>
            <button class="modal-close" @click="closeProjectModal()"></button>
        </div>
    </section>

    <script src="https://unpkg.com/vue@2.3.4/dist/vue.min.js"></script>
    <script type="text/javascript">

        var projects = new Vue({
            el: '#projects',
            data : {
                icons : [
                    { name : 'Patient', icon : 'fa-calendar-check-o' },
                    { name : 'Responsable', icon : 'fa-car' },
                    { name : 'Créatif', icon : 'fa-pencil' },
                    { name : 'Réfléchi', icon : 'fa-check-square-o' }
                ],
                pics : [
                    { name : 'dataroom', description : 'daataroom logo'},
                    { name : 'hacklab', description : 'hacklab logo'},
                    { name : 'face', description : 'face in the crowd logo'},
                ],
                projects : [
                    {
                        name : 'Dataroom',
                        description : 'Projet mené au sein de la société Soqrate dans laquelle je suis développeur web, Dataroom est une solution de partage de fichiers sécurisée entre professionnels. Vieillissante, l\'application a été intégralement repensée, que ce soit en front-end ou back-end, afin de la rendre plus accessible et rapide.',
                        more : 'http://soqrate.fr/',
                        pics : [0],
                        techs : ['AngularJS', 'Angular Material', 'Symfony3']
                    },
                    {
                        name : 'Hacklab',
                        description : 'Hacklab fut mon projet de fin d\'année à l\'IT de Wexford, en Irlande. Le but de cette solution était de proposer une plateforme de partage de tutoriels pour découvrir de nouveaux hobbies, comme la menuiserie, la couture, l\'électronique ...',
                        more : 'http://hacklab.lucienlefoll.fr',
                        pics : [1],
                        techs: ['AngularJS', 'Angular Material']
                    },
                    {
                        name : 'A Face in the Crowd',
                        description : 'Ce projet était mené dans le cadre d\'un cours d\'initiatives communautaires, à Wexford en Irlande. Son but était de retranscrire une pièce de théâtre sur les problèmes psychologiques sous la forme de courts monologues, dans le but d\'animer des ateliers sur ces sujets.',
                        more : 'http://wexfordmentalhealthassociation.ie/a-face-in-the-crowd-drama-project/',
                        pics : [2],
                        techs : ['Adobe Premiere', 'Tournage', 'Prise de son']
                    }
                ],
                modalOpened : false,
                project : {
                    name : '',
                    description : '',
                    more : '',
                    pics : '',
                    techs : ''
                }
            },
            methods : {
                getPicUrl : function(picIdx){
                    return './img/'+this.pics[picIdx].name+'.png';
                },
                getIconClass : function(iconName){
                    return 'fa '+iconName;
                },
                openProjectModal : function(project){
                    this.project = project;
                    this.modalOpened = true;
                },
                closeProjectModal : function(){
                    this.modalOpened = false;
                }
            }
        })
    </script>
</body>
</html>
